/* Base styles for the header */
header {
    background-color: #2563eb; /* bg-blue-600 */
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
  }
  
  /* Container styles */
  header .container {
    max-width: 1280px; /* mx-auto */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-top: 1.5rem; /* py-6 */
    padding-bottom: 1.5rem; /* py-6 */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Title styles */
  header .text-2xl {
    font-size: 1.5rem;
    font-weight: 700; /* font-bold */
    text-align: center;
  }
  
  /* Navigation styles */
  nav ul {
    display: flex;
    flex: auto;
    gap: 1rem; /* space-x-4 */
  }
  nav ul li{
    display: flex;
    font-size: larger;
    border-bottom: yellow;

  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: large;
    
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #d1d5db; /* hover:text-gray-300 */
  }
  
  img {
    height: 5rem; /* h-12 */
    margin-right: 0.75rem; /* mr-3 */
   
  }

  .nav-link {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #3498db; /* Your desired underline color */
    transition: width 0.3s ease, background-color 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #3498db; /* Your desired underline color */
  }
  